/* Home.css */

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#h2 {
  color: white;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.Home, .Signup, .LogIn {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  justify-content: center;
}

#label, #input {
  font-size: 16px;
  margin: 10px 5px;
  color: white;
  text-align: center;
  size: fixed;
}

.App-link {
  color: rgb(64, 224, 208);
}

.bottomNav,
#Footer {
  background: #054146;
  color: black;
  padding: 10px;
  opacity: 50%;
  list-style: none !important;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.backgroundPhoto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* Add any specific styling for the LogIn component here */
