/* Home.css */

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#h2 {
  color: white;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.Home, .Signup, .LogIn, .Main {
  background-color: #282c34;
  min-height: 40vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (min-width: 800px) {
  .container{
    margin: 20px;
  }
  
}

.container, .columns {
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: center;
  margin: 20px;
  justify-content: space-around;
}

.columns {
  margin: 20px;
  display: flex;
}

.yourCats,
.catMap {
  background-color: #383d46;
  min-height: 80vh;
  max-width: fit-content;
  min-width: 50vw;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px;
}

.yourCats {
  margin-right: 20px; /* Add margin to the right of yourCats for space between the two */
}

#label, #input {
  font-size: 16px;
  margin: 10px 5px;
  color: white;
  text-align: center;
  size: fixed;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.App-link {
  color: rgb(64, 224, 208);
}

.bottomNav,
#Footer {
  background: #054146;
  color: black;
  padding: 10px;
  opacity: 50%;
  list-style: none !important;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.backgroundPhoto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

@media (max-width: 800px) {
  .columns, .options {
    flex-direction: column;
    width: auto;
  }
  

  .options button {
    width: auto; /* Reset button width for smaller screens */
    margin: 15px; /* Reset margin between buttons for smaller screens */
  }

  .yourCats {
    margin-right: 0; /* Reset margin for smaller screens */
  }
}

/* Add any specific styling for the LogIn component here */
