/* AddCat.css */

#form, .cat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    fill: #1e8c94;
}

.addCat, .row1, .addCat h2 {
    display: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px; /* Add spacing between form fields */
    padding: 5px;
  }

.addCat label {
    margin: 5px;
    font-weight: bold;
}

.addCat input {
    margin-top: 5px;
}

#label, #input, #h1 {
    margin: 5px;
}

#select {
    padding: 20px;
}