
.comment {
    margin-bottom: 1rem;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: '30px'; 
    padding: '30px';
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 30px;
    padding: 30px;
    border: 3px solid #6da5a5  ;
    border-radius: 5px;
    background: #6da5a5;
    /* max-width: fit-content; */
    /* max-width: 80vw; */
    /* position: relative; */
    /* min-width: 70vw; */
}

.addComment {
    display: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px; /* Add spacing between form fields */
    padding: 5px;
}

.displayName {
    background-color: #054146;
    /* flex-direction: column; */
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin-bottom: 1rem;
}

.displayName h3 {
    padding-left: 10px;
}
